{% extends 'base.html' %}

{% block title %}{{ post.title }} - My Site{% endblock %}

{% block content %}
    <article>
        <h2>{{ post.title }}</h2>
        <p class="meta">
            Published: {{ post.created_at|date:"F j, Y" }}
            &nbsp;|&nbsp;
            Last updated: {{ post.updated_at|date:"F j, Y" }}
        </p>
        <div class="post-content">
            {{ post.content|linebreaks }}
        </div>
    </article>

    <a href="{% url 'post_list' %}" class="btn">← Back to all posts</a>
{% endblock %}
